body {
  padding: 0;
  margin: 0;
  background-color: #A7BDD3;
  font-family: 'Quicksand', sans-serif;
}

header {
  margin-left: 10px;
  margin-right: 10px;
  height: 80px;
}

header > div.logo {
  float: left;
}

header > div.text {
  float: right;
}

header > div.text > span {
  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
  text-align: right;
}

div.login > button {
  margin: 10px;
}

nav {
	clear: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  background: #ccc;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  float: left;
  margin: 0;
  padding: 10px 0px;
  border-radius: 10px 10px 0px 0px;
}

nav a {
  color: #666;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  color: #333;
}

nav #currentpage > a {
  background: #fefefe;
  border-bottom: 2px solid #fefefe;
  color: #333;
  border-radius: 10px 10px 0px 0px;
}

main {
  clear: both;
  background-color: #fefefe;
  border: 1px solid #999;
  padding: 2.5%; /* because width of nav is 95% */
}

form > fieldset {
  width: 45%;
  display: inline;
  margin: 1%;
}

form .submit {
  margin-top: 20px;
  text-align: center;
}


footer {
  clear: both;
	text-align: center;
}
