<!DOCTYPE html>
<html>
<head>
  <title>Layout Demo</title>
  <link href="style2.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <header>
    <!-- We could either embed our nav in our header, or
    have a separate nav and header -->
    <nav>
      <!-- Don't need the id="top-nav" because we can just use the selector 'nav > ul > li' in our style sheet -->
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>My account</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
        <pre>
        ajkhgjka
        asdgjlhajkghalkjdg

        asdlajhk

        asg


  a
  fa







  asdf





        </pre>
    </article>
    <aside>
      <p>kjasldkfjalkjdsf</p>
    </aside>
  </main>
  <footer>
    <span>&copy; CS401 Fall 2015</span>
  </footer>
</body>
</html>
