body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

table, th, tr, td {
  border: 2px solid #B0B0B0;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

/* Styles used in form_validation.php */
legend {
  font-weight: 400;
}

.pair {
  margin: 10px;
}

.pair small {
  margin-left: 10px;
}

label {
  padding: 4px;
}
input, textarea {
  border-radius: 3px;
  border: 1px solid #B0B0B0;
  padding: 4px;
}
input.error, textarea.error {
  border: 2px solid #FF6666;
  background-color: rgba(255, 102, 102, .2);
}
label.error, span.error {
  font-weight: 400;
  color: #FF6666;
}
.submit {
  border-radius: 5px;
  padding: 10px;
  background-color: #E6F0F5;
}
.submit:hover {
  font-weight: 400;
  background-color:#80B2CC;
}
.success {
  color: #009900;
  margin-left: 10px;
}

