<!DOCTYPE html>
<html>
<!-- This is my secret -->
<head>
  <title>Divs, Spans, and Layout</title>
  <link href="style1.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="header">
  <div class="logo">
    <img src="../images/bsu-logo.jpg"/>
  </div>
  <div class="header-text">
    These colors are disgusting. Don't do this!
  </div>
</div>
<div id="nav-bar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>
<div class="annoying-popup">
  <p> Hello! </p>
</div>
<div class="content">
  <div class="article">
  <pre>
alksdjg
kajsdg
;alkjs
dg;ja
sdkljg
a;sldjkg
ajsdg
lakjsd
gkja
lkdgja
kfjg
alksjg
aklsjgd
akjsdg
ajksdgljaiosja
  </pre>
</div>
<div class="article">
sdkljg
a;sldjkg
ajsdg
lakjsd
gkja
lkdgja
kfjg
alksjg
aklsjgd
akjsdg
ajksdgljaiosja

</div>
</div>
<div id="footer">Footer</div>
</body>
</html>
