<!DOCTYPE html>
<html>
<head>
  <title>Layout Demo</title>
  <link href="style1.css" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="logo">
    <img src="../images/penguin.jpg" />
  </div>
  <div class="name">
    <h1>These colors are disgusting!</h1>
    <h2>Don't model them after this.</h2>
    <h3>Thank you.</h3>
  </div>
</header>
<nav>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</nav>
<div class="content">
  <article>
    <h1>Main Content</h1>
    <ul class="item-list">
      <li>Hello.
        <ul>
          <li>Hey.</li>
          <li>Hi.</li>
        </ul>
      </li>
      <li class="item-2">Goodbye.</li>
    </ul>
    <pre>
    jdl;kjfal;ksdjfkjadkjfalkdjsf
lajdsgl
    lkajdsf
    a;
    kajdslkgj
    adsjg
    alsd
    gajd
    lkgjads
     llkjlkdj
     glkjad
     sf;j
     akdjsf
      ajdslkjf
      alkj
      lkj
      j
     kj
     aklsjdg
     klajsdgkj

    </pre>
  </article>
  <aside>
    <h1>Numbers</h1>
    <ul class="number-list">
      <li>One.
        <ul>
          <li>One point one.</li>
          <li>One point two.</li>
        </ul>
      </li>
      <li>Two.</li>
    </ul>
  </aside>
</div>
<footer>
  <p>Footer</p>
</footer>
</body>
</html>
