<!DOCTYPE html>
<html>
<head>
  <title>Layout Demo</title>
  <link href="layout-style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div id="header">
    <ul id="top-nav">
      <li>Home</li>
      <li>About Us</li>
      <li>My account</li>
      <li>Contact</li>
    </ul>
  </div>
  <div id="red" class="bordered-box">Red</div>
  <div id="green" class="bordered-box">Green</div>
  <div id="blue" class="bordered-box">Blue</div>
  <div id="annoying-ad" class="bordered-box">Buy ME NOW!!</div>
  <div id="ad" class="bordered-box">Buy me!!</div>
</body>
</html>
